In [1]:
#Write a Pandas program to convert a Panda module Series to Python list and it's type
import pandas as pd

# Creating a Pandas Series
data_series = pd.Series([5, 10, 15, 20, 25])

# Convert Pandas Series to Python list
python_list = data_series.tolist()

# Displaying the converted list and its type
print("Converted Python List:", python_list)
print("Type of Converted List:", type(python_list))

Converted Python List: [5, 10, 15, 20, 25]
Type of Converted List: <class 'list'>

In [2]:
#Write a Pandas program to compare the elements of the two Pandas Series.   
import pandas as pd

# Creating two Pandas Series
series1 = pd.Series([10, 20, 30, 40, 50])
series2 = pd.Series([15, 20, 25, 40, 45])

# Comparing elements between the two series
comparison_equal = series1 == series2  # Check for equality
comparison_greater = series1 > series2  # Check for greater than
comparison_lesser = series1 < series2   # Check for less than

# Displaying comparison results
print("Equality Comparison:")
print(comparison_equal)
print("\nGreater Than Comparison:")
print(comparison_greater)
print("\nLess Than Comparison:")
print(comparison_lesser)

Equality Comparison:
0    False
1     True
2    False
3     True
4    False
dtype: bool

Greater Than Comparison:
0    False
1    False
2     True
3    False
4     True
dtype: bool

Less Than Comparison:
0     True
1    False
2    False
3    False
4    False
dtype: bool

In [3]:
#Write a Pandas program to convert a dictionary to a Pandas series.       
import pandas as pd

# Sample dictionary
data_dict = {'A': 10, 'B': 20, 'C': 30, 'D': 40}

# Converting dictionary to Pandas Series
series_from_dict = pd.Series(data_dict)

# Displaying the Pandas Series
print("Pandas Series from Dictionary:")
print(series_from_dict)

Pandas Series from Dictionary:
A    10
B    20
C    30
D    40
dtype: int64

In [4]:
#Write a Pandas program to convert the first column of a DataFrame as a Series
import pandas as pd

# Sample DataFrame
data = {
    'A': [10, 20, 30],
    'B': [40, 50, 60],
    'C': [70, 80, 90]
}

df = pd.DataFrame(data)

# Extracting the first column as a Pandas Series
first_column_series = df.iloc[:, 0]

# Displaying the Pandas Series
print("First Column as Pandas Series:")
print(first_column_series)

First Column as Pandas Series:
0    10
1    20
2    30
Name: A, dtype: int64

In [6]:
#Write a Pandas program to add some data to an existing Series. 
import pandas as pd

# Existing Series
existing_series = pd.Series([10, 20, 30])

# Data to add
data_to_add = pd.Series([40, 50])

# Adding data to the existing Series using loc[]
existing_series.loc[len(existing_series)] = data_to_add[0]
existing_series.loc[len(existing_series)] = data_to_add[1]

# Displaying the updated Series
print("Updated Series after adding data:")
print(existing_series)

Updated Series after adding data:
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [7]:
#Write a Pandas program to detect missing values of a given DataFrame. Display True or False
import pandas as pd
import numpy as np

# Creating a sample DataFrame with missing values
data = {
    'A': [1, 2, np.nan, 4],
    'B': [5, np.nan, np.nan, 8],
    'C': [np.nan, 12, 13, 14]
}

df = pd.DataFrame(data)

# Detecting missing values in the DataFrame
missing_values = df.isnull()

# Displaying True or False based on missing values
print("DataFrame with missing values detected (True/False):")
print(missing_values)

DataFrame with missing values detected (True/False):
       A      B      C
0  False  False   True
1  False   True  False
2   True   True  False
3  False  False  False

In [8]:
#Write a Pandas program to keep the rows with at least 2 NaN values in a given DataFrame
import pandas as pd
import numpy as np

# Creating a sample DataFrame with missing values
data = {
    'A': [1, 2, np.nan, 4],
    'B': [5, np.nan, np.nan, 8],
    'C': [np.nan, 12, 13, 14]
}

df = pd.DataFrame(data)

# Keeping rows with at least 2 NaN values
at_least_two_nan = df.dropna(thresh=2)

# Displaying the resulting DataFrame
print("Rows with at least 2 NaN values:")
print(at_least_two_nan)

Rows with at least 2 NaN values:
     A    B     C
0  1.0  5.0   NaN
1  2.0  NaN  12.0
3  4.0  8.0  14.0

In [9]:
#Write a Pandas program to split the following dataframe by school code and get mean, min, and max value of age for each school
import pandas as pd

# Sample DataFrame
data = {
    'School Code': ['S001', 'S002', 'S001', 'S002', 'S001', 'S002'],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Ella', 'Frank'],
    'Age': [23, 25, 22, 26, 24, 27]
}

df = pd.DataFrame(data)

# Grouping by School Code and calculating mean, min, max age for each school
result = df.groupby('School Code')['Age'].agg(['mean', 'min', 'max'])

# Displaying the mean, min, max age for each school
print("Mean, Min, Max age for each school:")
print(result)

Mean, Min, Max age for each school:
             mean  min  max
School Code
S001         23.0   22   24
S002         26.0   25   27